@import url("./Inputs.module.css");
.dropdownContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  user-select: none;
  cursor: pointer;
}

.dropdown {
  font-family: var(--sys-font-family);
  overflow: hidden;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dropdownContainer.wrap {
  width: fit-content;
}
.dropdown.wrap {
  justify-content: center;
  min-width: 2em;
  padding: 0.5em;
}

.dropdown.focus {
  border-color: var(--sys-color-primary);
}

.dropdownContainer:focus .dropdownOptionsContainer {
  display: flex;
}

.dropdownOptionsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: inherit;
  min-width: 2.5em;

  top: 100%;
  z-index: var(--sys-zindex-dropdown);
  padding: 0.25em;
  outline: none;
  background-color: var(--sys-color-surface);
  color: var(--sys-color-on-surface);
  border: 1px solid var(--sys-color-outline);
  border-radius: 4px;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  font-family: var(--sys-font-family);
  font-size: 16px;
  transition: var(--transitions-smooth-change);
  animation-name: appear;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  overflow: hidden;
  overflow-y: auto;
}
.dropdownOptionsContainerLabel {
  /*tampooc se si funiciona esto, igual el ads es del design viejo*/
  top: calc(var(--ads-input-height));
}
.dropdownOptionsContainer {
  /*nose si funcinoa esto*/
  scrollbar-width: auto;
  scrollbar-color: var(--input-text-placeholder) var(--input-background);
}

/* Chrome, Edge, and Safari */
.dropdownOptionsContainer::-webkit-scrollbar {
  width: 10px;
}

.dropdownOptionsContainer::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 10px;
}

.dropdownOptionsContainer::-webkit-scrollbar-thumb {
  background-color: var(--sys-color-primary);
  width: 100%;
  border: 2px solid var(--sys-color-surface);
  border-radius: 10px;
  height: 5px;
}
.dropdownOptions {
  margin: 0;
  width: 100%;
  cursor: pointer;
  user-select: none;
  line-height: 2em;
  text-wrap: nowrap;
}
.dropdownOptions::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: var(--sys-color-outline);
}

.dropdownOptions:first-child::before {
  display: none;
}

.dropdownOptions:hover {
  color: var(--sys-color-primary);
}
.icon {
  fill: var(--sys-color-on-surface);
  opacity: 0.7;
}

.icon.focus {
  animation-name: up;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

.optionSelected {
  color: var(--sys-color-primary) !important;
  font-weight: bold !important;
}

.search {
  cursor: text;
}

@keyframes up {
  100% {
    rotate: 180deg;
  }
}

@keyframes appear {
  from {
    height: 0%;
  }
  to {
    height: auto;
  }
}

.searchInput {
  border: none;
  background-color: transparent;
  color: var(--sys-color-on-surface-variant);
  font-size: 16px;
  font-weight: 400;
  caret-color: var(--sys-color-primary);
}
.searchInput:focus {
  appearance: none;
  outline: none;
}
.dropdownOptionsNoResult {
  margin: 0;
  padding: 8px 0px;
  width: 100%;
  user-select: none;
  font-style: italic;
  opacity: 0.5;
}

.overflowtext {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  white-space: nowrap;

  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--sys-color-on-surface);
}
