/* ALign */
.text--align-left {
  text-align: left;
}

.text--align-center {
  text-align: center;
}

.text--align-right {
  text-align: right;
}

/* Size */

.text--size-3xs {
  font-size: var(--sys-font-size-3xs);
}

.text--size-2xs {
  font-size: var(--sys-font-size-2xs);
}

.text--size-xs {
  font-size: var(--sys-font-size-xs);
}

.text--size-sm {
  font-size: var(--sys-font-size-sm);
}

.text--size-md {
  font-size: var(--sys-font-size-md);
}

.text--size-lg {
  font-size: var(--sys-font-size-lg);
}

.text--size-xl {
  font-size: var(--sys-font-size-xl);
}

.text--size-2xl {
  font-size: var(--sys-font-size-2xl);
}

.text--size-3xl {
  font-size: var(--sys-font-size-3xl);
}

.text--size-4xl {
  font-size: var(--sys-font-size-4xl);
}

.text--size-5xl {
  font-size: var(--sys-font-size-5xl);
}

.text--size-6xl {
  font-size: var(--sys-font-size-6xl);
}

/* Weight */

.text--weight-thin {
  font-weight: 100;
}

.text--weight-light {
  font-weight: 300;
}

.text--weight-regular {
  font-weight: 400;
}

.text--weight-medium {
  font-weight: 500;
}

.text--weight-bold {
  font-weight: 700;
}

.text--weight-bolder {
  font-weight: 900;
}

/* italic */
.text--italic {
  font-style: italic;
}

/* underline */

.text--underline {
  text-decoration: underline;
}
