@import url("../Select/Select.module.css");
.multiselect {
  font-family: var(--sys-font-family);
  overflow: hidden;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--sys-color-surface);
}

.caret {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: var(--sys-color-surface);
  height: 100%;
}
