.progressbar {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.progress {
  height: 100%;
  text-align: center;
  line-height: 20px;
  color: white;
  transition: all 0.5s;
}

.progressText {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.dot {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: 100%;
  border-radius: 20px;
}

.progress-animation {
  animation: wave 2s infinite;
}
