:root {
  --sys-sizes-1: 0.25rem;
  --sys-sizes-2: 0.5rem;
  --sys-sizes-3: 0.75rem;
  --sys-sizes-4: 1rem;
  --sys-sizes-5: 1.25rem;
  --sys-sizes-6: 1.5rem;
  --sys-sizes-7: 1.75rem;
  --sys-sizes-8: 2rem;
  --sys-sizes-9: 2.25rem;
  --sys-sizes-10: 2.5rem;
  --sys-sizes-12: 3rem;
  --sys-sizes-16: 4rem;
  --sys-sizes-20: 5rem;
  --sys-sizes-24: 6rem;
  --sys-sizes-32: 8rem;
  --sys-sizes-40: 10rem;
  --sys-sizes-48: 12rem;
  --sys-sizes-56: 14rem;
  --sys-sizes-64: 16rem;
  --sys-sizes-72: 18rem;
  --sys-sizes-80: 20rem;
  --sys-sizes-96: 24rem;
  --sys-sizes-px: 1px;
  --sys-sizes-0: 0;
  --sys-sizes-1-2: 50%;
  --sys-sizes-1-3: 33.333333%;
  --sys-sizes-2-3: 66.666667%;
  --sys-sizes-1-4: 25%;
  --sys-sizes-2-4: 50%;
  --sys-sizes-3-4: 75%;
  --sys-sizes-1-5: 20%;
  --sys-sizes-2-5: 40%;
  --sys-sizes-3-5: 60%;
  --sys-sizes-4-5: 80%;
  --sys-sizes-1-6: 16.666667%;
  --sys-sizes-2-6: 33.333333%;
  --sys-sizes-3-6: 50%;
  --sys-sizes-4-6: 66.666667%;
  --sys-sizes-5-6: 83.333333%;
  --sys-sizes-1-12: 8.333333%;
  --sys-sizes-2-12: 16.666667%;
  --sys-sizes-3-12: 25%;
  --sys-sizes-4-12: 33.333333%;
  --sys-sizes-5-12: 41.666667%;
  --sys-sizes-6-12: 50%;
  --sys-sizes-7-12: 58.333333%;
  --sys-sizes-8-12: 66.666667%;
  --sys-sizes-9-12: 75%;
  --sys-sizes-10-12: 83.333333%;
  --sys-sizes-11-12: 91.666667%;
  --sys-sizes-full: 100%;
  --sys-sizes-max: max-content;
  --sys-sizes-min: min-content;
  --sys-sizes-screen: 100vh;
  --sys-sizes-viewport: 100vw;

  --sys-sizes-container: 100%;
  --sys-sizes-container-xs: 320px;
  --sys-sizes-container-sm: 640px;
  --sys-sizes-container-md: 768px;
  --sys-sizes-container-lg: 1024px;
  --sys-sizes-container-xl: 1280px;
  --sys-sizes-container-2xl: 1536px;

  /* esta parte nose si esta del todo bien porque depende totalmente del componente el tamaño */
  --sys-sizes-3xs: var(--sys-sizes-1);
  --sys-sizes-2xs: var(--sys-sizes-2);
  --sys-sizes-xs: var(--sys-sizes-4);
  --sys-sizes-sm: var(--sys-sizes-6);
  --sys-sizes-md: var(--sys-sizes-8);
  --sys-sizes-lg: var(--sys-sizes-12);
  --sys-sizes-xl: var(--sys-sizes-16);
  --sys-sizes-2xl: var(--sys-sizes-24);
  --sys-sizes-3xl: var(--sys-sizes-32);
  --sys-sizes-4xl: var(--sys-sizes-40);

  --sys-height-xs: 1.25rem;
  --sys-height-sm: 1.5rem;
  --sys-height-md: 2rem;
  --sys-height-lg: 2.5rem;
  --sys-height-xl: 3rem;
  --sys-height-2xl: 3.75rem;
  --sys-height-3xl: 4.5rem;
  --sys-height-4xl: 5.5rem;
  --sys-height-5xl: 6.5rem;
  --sys-height-6xl: 8rem;
  --sys-height-7xl: 9.5rem;
  --sys-height-8xl: 11.5rem;
  --sys-height-9xl: 13.5rem;
  --sys-height-10xl: 16rem;

  --sys-width-xs: 1.25rem;
  --sys-width-sm: 1.5rem;
  --sys-width-md: 2rem;
  --sys-width-lg: 2.5rem;
  --sys-width-xl: 3rem;
  --sys-width-2xl: 3.75rem;
  --sys-width-3xl: 4.5rem;
  --sys-width-4xl: 5.5rem;
  --sys-width-5xl: 6.5rem;
  --sys-width-6xl: 8rem;
  --sys-width-7xl: 9.5rem;
  --sys-width-8xl: 11.5rem;
  --sys-width-9xl: 13.5rem;
  --sys-width-10xl: 16rem;
}
