:root {
  --color-base-50: #fafafa;
  --color-base-100: #f5f5f5;
  --color-base-200: #eeeeee;
  --color-base-300: #e0e0e0;
  --color-base-400: #bdbdbd;
  --color-base-500: #9e9e9e;
  --color-base-600: #757575;
  --color-base-700: #616161;
  --color-base-800: #424242;
  --color-base-900: #212121;

  --color-primary-50: #f3e7f6;
  --color-primary-100: #e1bee7;
  --color-primary-200: #ce93d8;
  --color-primary-300: #ba68c8;
  --color-primary-400: #ab47bc;
  --color-primary-500: #9c27b0;
  --color-primary-600: #8e24aa;
  --color-primary-700: #7b1fa2;
  --color-primary-800: #6a1b9a;
  --color-primary-900: #4a148c;

  --color-secondary-50: #e0f7fa;
  --color-secondary-100: #b2ebf2;
  --color-secondary-200: #80deea;
  --color-secondary-300: #4dd0e1;
  --color-secondary-400: #26c6da;
  --color-secondary-500: #00bcd4;
  --color-secondary-600: #00acc1;
  --color-secondary-700: #0097a7;
  --color-secondary-800: #00838f;
  --color-secondary-900: #006064;

  --color-danger-50: #ffebee;
  --color-danger-100: #ffcdd2;
  --color-danger-200: #ef9a9a;
  --color-danger-300: #e57373;
  --color-danger-400: #ef5350;
  --color-danger-500: #f44336;
  --color-danger-600: #e53935;
  --color-danger-700: #d32f2f;
  --color-danger-800: #c62828;
  --color-danger-900: #b71c1c;

  --color-warning-50: #fff8e1;
  --color-warning-100: #ffecb3;
  --color-warning-200: #ffe082;
  --color-warning-300: #ffd54f;
  --color-warning-400: #ffca28;
  --color-warning-500: #ffc107;
  --color-warning-600: #ffb300;
  --color-warning-700: #ffa000;
  --color-warning-800: #ff8f00;
  --color-warning-900: #ff6f00;

  --color-success-50: #e8f5e9;
  --color-success-100: #c8e6c9;
  --color-success-200: #a5d6a7;
  --color-success-300: #81c784;
  --color-success-400: #66bb6a;
  --color-success-500: #4caf50;
  --color-success-600: #43a047;
  --color-success-700: #388e3c;
  --color-success-800: #2e7d32;
  --color-success-900: #1b5e20;

  --color-info-50: #e1f5fe;
  --color-info-100: #b3e5fc;
  --color-info-200: #81d4fa;
  --color-info-300: #4fc3f7;
  --color-info-400: #29b6f6;
  --color-info-500: #03a9f4;
  --color-info-600: #039be5;
  --color-info-700: #0288d1;
  --color-info-800: #0277bd;
  --color-info-900: #01579b;

  --color-text-primary: var(--color-base-900);
  --color-text-secondary: var(--color-base-600);
  --color-text-disabled: var(--color-base-400);
  --color-text-hint: var(--color-base-200);

  --color-background-primary: #fff;
  --color-background-secondary: var(--color-base-100);
  --color-background-disabled: var(--color-base-200);
  --color-background-hint: var(--color-base-50);
  --color-background-overlay: rgba(0, 0, 0, 0.5);

  --color-divider: var(--color-base-200);

  --color-transparent: transparent;
  --color-inherit: inherit;
}
