.baseinput {
  padding: 0;
  display: inline-block;
  border: hidden;
  width: 100%;
  background: transparent;
  padding-left: var(--sys-sizes-4);
  padding-right: var(--sys-sizes-4);
}

.baseinput:focus {
  outline: none;
  overflow: visible;
}
.baseinput:disabled {
  background-color: var(--color-gray-100);
  color: var(--color-gray-400);
}

.input {
  border-color: var(--color-gray-300);
  transition-duration: 300ms;
}

.input:active {
  border-color: var(--color-secondary-500);
}

.inputFocus {
  border-color: var(--color-secondary-500);
}

.alertInput {
  border-color: var(--color-red-500);
}

.alertInput:focusize-within {
  border-color: var(--color-red-500);
}

.alertContainer {
  display: flex;
  align-items: center;
  border-radius: 0 0 var(--sys-border-radius-md) var(--sys-border-radius-md);
  background-color: var(--color-red-50);
  color: var(--color-red-500);
  padding: var(--sys-sizes-1) var(--sys-sizes-2);
  min-height: var(--sys-sizes-2);
}

.label {
  padding-left: var(--sys-sizes-1);
  transition: all 0.3s ease;
}

/* VARIANTS */
.input--variant-outlined {
  border-width: 1px;
  border-style: solid;
}

.input--variant-filled {
  background-color: var(--sys-input-filled-background);
  border: 1px solid transparent;
}

.input--variant-filled:focusize-within {
  border-width: 1px;
  border-style: solid;
}

.input--variant-underlined {
  border-width: 0 0 1px 0;
  border-bottom-style: solid;
  border-radius: 0 !important;
}

.baseinput[type="file"] {
  display: none;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--sys-sizes-1) var(--sys-sizes-2);
  cursor: pointer;
}

[aria-disabled="true"] {
  opacity: 0.5;
  cursor: not-allowed;
}

.clickable {
  cursor: pointer;
}

/* rounded */

.input--rounded-xs {
  border-radius: var(--sys-border-radius-xs);
}

.input--rounded-sm {
  border-radius: var(--sys-border-radius-sm);
}
.input--rounded-md {
  border-radius: var(--sys-border-radius-md);
}

.input--rounded-lg {
  border-radius: var(--sys-border-radius-lg);
}

/* sizes */

.input--size-auto {
  height: auto;
  line-height: auto;
}

.input--size-xs {
  font-size: var(--sys-font-size-xs);
  line-height: var(--sys-input-height-xs);
  height: var(--sys-input-height-xs);
}

.input--size-sm {
  font-size: var(--sys-font-size-sm);
  line-height: var(--sys-input-height-sm);
  height: var(--sys-input-height-sm);
}

.input--size-md {
  font-size: var(--sys-font-size-md);
  line-height: var(--sys-input-height-md);
  height: var(--sys-input-height-md);
}

.input--size-lg {
  font-size: var(--sys-font-size-lg);
  line-height: var(--sys-input-height-lg);
  height: var(--sys-input-height-lg);
}

.input--size-xl {
  font-size: var(--sys-font-size-xl);
  line-height: var(--sys-input-height-lg);
  height: var(--sys-input-height-xl);
}
