.baseinput {
  padding: 0;
  display: inline-block;
  border: hidden;
  width: 100%;
  background: transparent;
  padding-left: var(--sys-sizes-4);
  padding-right: var(--sys-sizes-4);
}

.baseinput:focus {
  outline: none;
}

.input {
  border-color: var(--color-gray-300);
  transition-duration: 300ms;
}

.alertContainer {
  display: flex;
  align-items: center;
  border-radius: var(--sys-border-radius-md);
  background-color: var(--color-red-100);
  color: var(--color-red-900);
  padding: var(--sys-sizes-1) var(--sys-sizes-2);
}

/* VARIANTS */
.input--variant-outlined {
  border-width: 1px;
  border-style: solid;
}

.input:focus-within {
  border-color: var(--sys-color-primary);
}

.input--variant-filled {
  background-color: var(--sys-input-filled-background);
  border: 1px solid transparent;
}

.input--variant-filled:focus-within {
  border-width: 1px;
  border-style: solid;
}

.input--variant-underlined {
  border-width: 0 0 1px 0;
  border-bottom-style: solid;
}

/* rounded */

.input--rounded-xs {
  border-radius: var(--sys-border-radius-xs);
}

.input--rounded-sm {
  border-radius: var(--sys-border-radius-sm);
}
.input--rounded-md {
  border-radius: var(--sys-border-radius-md);
}

.input--rounded-lg {
  border-radius: var(--sys-border-radius-lg);
}

/* sizes */

.input--s-xs {
  font-size: var(--sys-font-size-xs);
  line-height: var(--sys-input-height-xs);
  height: var(--sys-input-height-xs);
}

.input--s-sm {
  font-size: var(--sys-font-size-sm);
  line-height: var(--sys-input-height-sm);
  height: var(--sys-input-height-sm);
}

.input--s-md {
  font-size: var(--sys-font-size-md);
  line-height: var(--sys-input-height-md);
  height: var(--sys-input-height-md);
}

.input--s-lg {
  font-size: var(--sys-font-size-lg);
  line-height: var(--sys-input-height-lg);
  height: var(--sys-input-height-lg);
}

.input--s-xl {
  font-size: var(--sys-font-size-xl);
  height: var(--sys-input-height-xl);
}
