:root {
  --color: var(--sys-color-primary);
}

.switch {
  display: flex;
  border-radius: 1em;
  outline: 1px solid var(--color);
  cursor: pointer;
  align-items: center;
  flex-direction: row;
  transition: linear;
}

.slider {
  border-radius: 1em;
  animation-name: standby;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  background-color: var(--color);
}

.size-small input:checked + .slider {
  animation-name: on-sm;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes on-sm {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(2em);
  }
}

@keyframes standby {
  from {
    transform: translateX(2em);
    background-color: var(--color);
  }
  to {
    background-color: var(--color);
    transform: translateX(0);
  }
}

.size-small {
  padding: 1px;
  width: 54px;
  height: 24px;
}

.size-small .slider {
  width: 20px;
  height: 20px;
}
